$baseColor:#605ca8;
$baseBgcolor:#f9fafc;
$baseHovercolor:#eeeeee;
$white:#ffffff;
$darkWhite:#F9FAFC;
$lightBlue:#58B7FF;
$Blue:#20A0FF;
$darkBlue:#1D8CE0;
$success:#13CE66;
$warning:#F7BA2A;
$danger:#FF4949;